<!DOCTYPE html>
<!-- Declares the root element that allows behaviour to be modified through Angular custom HTML tags. -->
<html ng-app="issues">
<head>
    <title>Negotiation Application</title>

    <!-- build:css css/third-party.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/dependencies/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/dependencies/css/ng-grid.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/application.css -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!-- endbuild -->

    <!-- build:js lib/third-party.js -->
    <!-- bower:js -->
    <script src="lib/dependencies/jquery.min.js"></script>
    <script src="lib/dependencies/angular.min.js"></script>
    <script src="lib/dependencies/angular-resource.min.js"></script>
    <script src="lib/dependencies/ng-grid-2.0.11.min.js"></script>
    <script src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js script/all.js -->
    <script src="script/issue.js"></script>
    <!-- endbuild -->
</head>

<body>

<h1>Negotiation Application</h1>

<br/>

<!-- Specify a Angular controller script that binds Javascript variables to the feedback messages.-->
<div class="message" ng-controller="alertMessagesController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<br>

<!-- Specify a Angular controller script that binds Javascript variables to the grid.-->
<div class="grid" ng-controller="issuesListController">
    <div>
        <h3>List Issues</h3>
    </div>

    <!-- Binds the grid component to be displayed. -->
    <div class="gridStyle" ng-grid="gridOptions"></div>

    <!--  Bind the pagination component to be displayed. -->
    <pagination direction-links="true" boundary-links="true"
                total-items="issues.totalResults" items-per-page="issues.pageSize"
                ng-model="issues.currentPage" ng-change="refreshGrid()">
    </pagination>
</div>

<!-- Specify a Angular controller script that binds Javascript variables to the form.-->
<div class="form" ng-controller="issuesFormController">
    <!-- Verify issue, if there is no id present, that we are Adding a Issue -->
    <div ng-if="issue.id == null">
        <h3>Add issue</h3>
    </div>
    <!-- Otherwise it's an Edit -->
    <div ng-if="issue.id != null">
        <h3>Edit issue</h3>
    </div>

    <div>
        <!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
        <form name="issueForm" ng-submit="updateIssue()" novalidate>

            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
            <div class="form-group" ng-class="{'has-error' : issueForm.issueNum.$invalid && issueForm.issueNum.$dirty}">
                <label for="issueNum">Name:</label>
                <!-- Display a check when the field is valid and was modified -->
                <span ng-class="{'glyphicon glyphicon-ok' : issueForm.issueNum.$valid && issueForm.issueNum.$dirty}"></span>

                <input id="issueNum" name="issueNum" type="text" class="form-control" maxlength="50"
                       ng-model="issue.issueNum"
                       required ng-maxlength="50"/>

                <!-- Validation messages to be displayed on required, minlength and maxlength -->
                <p class="help-block" ng-show="issueForm.issueNum.$error.required">Add issue number. Seperate childissue with a '.'.</p>
                <p class="help-block" ng-show="issueForm.issueNum.$error.maxlength">Name cannot be longer than 50 characters.</p>
            </div>

            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
            <div class="form-group" ng-class="{'has-error' : issueForm.p1Rate.$invalid && issueForm.p1Rate.$dirty}">
                <label for="p1Rate">Party 1 Rate:</label>
                <!-- Display a check when the field is valid and was modified -->
                <span ng-class="{'glyphicon glyphicon-ok' : issueForm.p1Rate.$valid && issueForm.p1Rate.$dirty}"></span>

                <input id="p1Rate" name="p1Rate" type="text" class="form-control" maxlength="500"
                       ng-model="issue.p1Rate"
                       required/>

                <!-- Validation messages to be displayed on required and invalid. Type 'url' makes checks to a proper url format. -->
                <p class="help-block" ng-show="issueForm.p2Rate.$error.required">Add Image URL.</p>
                <p class="help-block" ng-show="issueForm.p2Rate.$invalid && issueForm.p2Rate.$dirty">Invalid Image URL.</p>
            </div>

            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
            <div class="form-group" ng-class="{'has-error' : issueForm.p2Rate.$invalid && issueForm.p2Rate.$dirty}">
                <label for="p2Rate">Party 2 Rate:</label>
                <!-- Display a check when the field is valid and was modified -->
                <span ng-class="{'glyphicon glyphicon-ok' : issueForm.p2Rate.$valid && issueForm.p2Rate.$dirty}"></span>

                <input id="p2Rate" name="p2Rate" type="text" class="form-control" maxlength="500"
                       ng-model="issue.p2Rate"
                       required/>

                <!-- Validation messages to be displayed on required and invalid. Type 'url' makes checks to a proper url format. -->
                <p class="help-block" ng-show="issueForm.p2Rate.$error.required">Add Image URL.</p>
                <p class="help-block" ng-show="issueForm.p2Rate.$invalid && issueForm.p2Rate.$dirty">Invalid Image URL.</p>
            </div>

            <!-- <div class="avatar" ng-if="issue.imageUrl">
                <img ng-src="{{issue.p1Rate}}" width="400" height="250"/>
            </div> -->

            <!-- Form buttons. The 'Save' button is only enabled when the form is valid. -->
            <div class="buttons">
                <button type="button" class="btn btn-primary" ng-click="clearForm()">Clear</button>
                <button type="submit" class="btn btn-primary" ng-disabled="issueForm.$invalid">Save</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
